
h1{
    font-weight: bolder;
    box-sizing: border-box;
}

.intro{
    font-family: Baloo;
    /* font-size: xx-large; */
}
@media (min-width:500px){/*Class name*//*properties*/}
@media (max-width:499px){/*Class name*//*properties*/}